body {
  font-family: Arial;
  background-color: #f0f4f8;
}

h1 {
  color: #2a5d84;
}

a {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
}

table {
  margin-top: 20px;
  background-color: white;
}
