body {
  margin: 0;
  font-family: Calibri;
  background-color: #A7C7E7;
}

/* Center everything */
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

/* Name */
.title {
  color: #191970;
  font-size: 60px;
  margin-top: 40px;
}

/* Nav bar */
.nav {
  margin: 30px 0;
}

/* Buttons */
.nav a {
  text-decoration: none;
  color: #4682B4;
  font-weight: bold;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 15px;
  margin: 0 10px;

  transition: 0.3s; /* smooth animation */
}

.nav a:hover {
  background-color: white;
  color: #191970;
}

/* separator for navigation */
.nav-separator {
  color: white;
  font-weight: bold;
}

/* Welcome */
.welcome {
  color: #6082B6;
  font-size: 40px;
  text-align: left;
  margin-top: 40px;
}

/* Intro text */
.intro {
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
}

/* Table Format */

.info-table {
  width: 70%;
  margin: 40px auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 20px;
  overflow: hidden;
}

/* Left column */
.info-table th {
  background-color: #d4f1fe;
  color: #191970;
  padding: 20px;
  font-size: 20px;
  width: 30%;
  text-align: center;

  border-right: 2px solid white; 
}

/* Right column */
.info-table td {
  background-color: #ebfaff;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}


.info-table tr + tr th,
.info-table tr + tr td {
  border-top: 1px solid white;
}


.about-top {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;

  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.about-bottom {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;

  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.about-line {
  width: 60%;
  height: 2px;
  background-color: white;
  margin: 30px auto;
}

/* Ethics page */
.ethics-top {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;

  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.ethics-section-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  color: #191970;

  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* texts */
.ethics-text {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;

  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
